<button (click)="btnTypeClick()" class="puzzleType" mat-button>{{ main.cfg.puzzleType }}</button>
<div *ngIf="main.solver != null" class="controls">
  <app-button [data]="main.btnData('appMode', main.solver)"></app-button>
  <app-button [data]="main.btnData('rulers', main.solver)"></app-button>
  <app-button [data]="main.btnData('gameMode', main.solver)"></app-button>
  <app-button [data]="main.btnData('solver-step', main.solver)"></app-button>
  <app-button [data]="main.btnData('solver-full', main.solver)"></app-button>
  <app-button [data]="main.btnData('undo', main.solver)"></app-button>
  <app-button [data]="main.btnData('clearUser', main.solver)"></app-button>
  <app-button [data]="main.btnData('solverlink', main.solver)"></app-button>
  <app-button [data]="main.btnData('weblink', main.solver)"></app-button>
  <app-button *ngIf="main.cfg.devSupport" [data]="main.btnData('debug', main.solver)"></app-button>
</div>
<app-game-sudoku *ngIf="main.cfg.puzzleType==='Sudoku'"></app-game-sudoku>
<app-game-str8ts *ngIf="main.cfg.puzzleType==='Str8ts'"></app-game-str8ts>
<ng-container *ngIf="main.solver != null">
  <div class="controls">
    <ng-container *ngIf="main.cfg.appMode === 0">
      <app-button *ngFor="let player of main.cfg.players"
                  [data]="main.btnData('player', main.solver, player)"></app-button>
    </ng-container>
    <div *ngIf="main.cfg.appMode === 1" class="row">
      <div *ngFor="let player of main.cfg.players">
        <ng-container *ngIf="!player.name.startsWith('@')">
          <button [class]="['editplayer', 'text', 'typeUser']"
                  [style]="main.cfg.playerEditStyle(player)"
                  mat-button>{{ player.name }}
          </button>
          <button class="icon" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <div *ngIf="main.isNumbersVisible" class="controls">
    <app-button *ngFor="let data of main.solver.controls" [data]="data"></app-button>
  </div>
</ng-container>
