<div *ngIf="!cfg.isDebug" [class]="containerClass" [ngStyle]="containerStyle" [ngSwitch]="mode">
  <div *ngSwitchCase="0" class="grid">
    <ng-container *ngIf="field?.type !== 1">
      <ng-container *ngFor="let y of cfg.counter(3)">
        <div (click)="clickCandidate(y * 3 + x + 1)"
             *ngFor="let x of cfg.counter(3)"
             [class]="candidateClass(y * 3 + x + 1)">
          {{ y * 3 + x + 1 }}
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div (click)="clickField()" *ngSwitchCase="1"
       [innerHtml]="value ?? '&nbsp;'"
       [style]="main.fieldStyle(field)" class="content">
  </div>
</div>
<div *ngIf="cfg.isDebug">
  <ng-container *ngFor="let anim of main.solver?.animations">
    <div *ngIf="isField(anim)">{{ anim.backType }}</div>
  </ng-container>
  <ng-container *ngIf="main.solver?.animations?.length === 0">
    {{ areaNumber }}
  </ng-container>
</div>
