$size: 100%;
.container {
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
}

.None {

}

.fldArea0 {
  background-color: lime !important;
}

.fldArea1 {
  background-color: red !important;
}

.fldArea2 {
  background-color: yellow !important;
}

.fldArea3 {
  background-color: blue !important;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.4em;
    overflow: hidden;
  }

  div.off {
    opacity: 0.2;
  }
}
