$size: 2em;
.container {
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
}

.None {

}

$markColor: #aaf;
$markThick: 4px;
$markCandidate: #afa;
.MarkField {
  background: $markColor !important;
}

.markCandidate,
.showCandidate {
  background: $markCandidate;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  box-shadow: inset 0 0 0 2px $markCandidate;
}

.showCandidate {
  background: $markCandidate;
}

.delCandidate {
  // color: #a00;
  font-weight: bold;
  position: relative;
  // box-shadow: inset 0 0 0 2px lime;
}

.delCandidate::after {
  content: '\\';
  color: rgba(128, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0.4em;
}

.setCandidate {
  background: $markCandidate;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  box-shadow: inset 0 0 0 2px $markCandidate;
}

.setCandidate::after {
  content: '\\';
  color: rgba(128, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0.4em;
}

.fldArea0 {
  background-color: lime !important;
}

.fldArea1 {
  background-color: red !important;
}

.fldArea2 {
  background-color: yellow !important;
}

.fldArea3 {
  background-color: blue !important;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;

  td {
    text-align: center;
    font-size: 0.5em;
  }

  td.off {
    opacity: 0.2;
  }
}
