<div class="controls">
  <app-button [data]="btnData('appMode')"></app-button>
  <app-button [data]="btnData('gameMode')"></app-button>
  <app-button [data]="btnData('rulers')"></app-button>
  <app-button [data]="btnData('solver-step')"></app-button>
  <app-button [data]="btnData('solver-full')"></app-button>
  <app-button [data]="btnData('undo')"></app-button>
  <app-button [data]="btnData('clearUser')"></app-button>
  <app-button [data]="btnData('weblink')"></app-button>
  <app-button *ngIf="cfg.devSupport" [data]="btnData('debug')"></app-button>
</div>
<table>
  <tr *ngIf="cfg.showRulers">
    <td class="ruler">&nbsp;</td>
    <td *ngFor="let x of cfg.counter(cfg.numberCount)" class="ruler">
      {{ruleset.colName(x)}}
    </td>
    <td class="ruler">&nbsp;</td>
  </tr>
  <tr *ngFor="let y1 of cfg.counter(cfg.numberCount); let y = index">
    <td *ngIf="cfg.showRulers" class="ruler">
      {{ruleset.rowName(y)}}
    </td>
    <td *ngFor="let x1 of cfg.counter(cfg.numberCount); let x = index" [class]="classFor(x,y)">
      <app-field-sudoku [field]="main.paintDef?.field(x, y)"></app-field-sudoku>
    </td>
    <td *ngIf="cfg.showRulers" class="ruler">
      {{ruleset.rowName(y)}}
    </td>
  </tr>
  <tr *ngIf="cfg.showRulers">
    <td class="ruler">&nbsp;</td>
    <td *ngFor="let x of cfg.counter(cfg.numberCount)" class="ruler">
      {{ruleset.colName(x)}}
    </td>
    <td class="ruler">&nbsp;</td>
  </tr>
  <tr class="info-tr">
    <td *ngIf="cfg.showRulers" class="info-td">&nbsp;</td>
    <td *ngIf="cfg.appMode === 0" [colSpan]="cfg.numberCount" class="info-td">
      <div [innerHTML]="main.solver?.hint" class="info"></div>
    </td>
    <td *ngIf="cfg.showRulers" class="info-td">&nbsp;</td>
  </tr>
</table>
<div *ngIf="isNumbersVisible" class="controls">
  <app-button *ngFor="let num of cfg.counter(cfg.numberCount + 1)" [data]="btnData('number', num)"></app-button>
</div>
