<table>
  <tr *ngIf="cfg.showRulers">
    <td class="ruler">&nbsp;</td>
    <td *ngFor="let x of cfg.counter(cfg.numberCount)" class="ruler">
      {{solver.ruleset.colName(x)}}
    </td>
    <td class="ruler">&nbsp;</td>
  </tr>
  <tr *ngFor="let y1 of cfg.counter(cfg.numberCount); let y = index">
    <td *ngIf="cfg.showRulers" class="ruler">
      {{solver.ruleset.rowName(y)}}
    </td>
    <td *ngFor="let x1 of cfg.counter(cfg.numberCount); let x = index" [class]="main.classFor(x,y)">
      <app-field-str8ts [field]="main.paintDef?.field(x, y)"></app-field-str8ts>
    </td>
    <td *ngIf="cfg.showRulers" class="ruler">
      {{solver.ruleset.rowName(y)}}
    </td>
  </tr>
  <tr *ngIf="cfg.showRulers">
    <td class="ruler">&nbsp;</td>
    <td *ngFor="let x of cfg.counter(cfg.numberCount)" class="ruler">
      {{solver.ruleset.colName(x)}}
    </td>
    <td class="ruler">&nbsp;</td>
  </tr>
  <tr class="info-tr">
    <td *ngIf="cfg.showRulers" class="info-td">&nbsp;</td>
    <td *ngIf="cfg.appMode === 0" [colSpan]="cfg.numberCount" class="info-td">
      <div [innerHTML]="main.solver?.hint" class="info"></div>
    </td>
    <td *ngIf="cfg.showRulers" class="info-td">&nbsp;</td>
  </tr>
</table>
