$thin: 1px;
$thick: 3px;

:host {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.info-tr {
  border: 0 !important;
}

.info-td {
  width: 0;
  border: 0 !important;
}

.info {
  margin-top: 1em;
  word-wrap: break-word;
  font-size: 50%;
  text-align: center;
}

.ruler {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 !important;
  font-size: 75%;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.board {
  display: flex;
  justify-content: center;
  width: 100vw;
  flex: 1;

  .grid {
    display: grid;
    width: 100%;
    gap: 0;

    .cell {
      border: $thin solid black;
      height: 100%;
      position: relative;
    }

    .cell.top {
      border-top-width: $thick;
    }

    .cell.bottom {
      border-bottom-width: $thick;
    }

    .cell.left {
      border-left-width: $thick;
    }

    .cell.right {
      border-right-width: $thick;
    }

    .row {

    }
  }
}
