@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  --c1: blue;
  --c2: green;
  --c3: maroon;
  --c4: yellow;
  --c5: #aaa;
  --t1: white;
  --t2: white;
  --t3: white;
  --t4: black;
  --t5: white;

  body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #ff8642;
    // align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: roboto, tahoma, verdana, arial, sans-serif;
  }

  .typeBlock {
    color: white;
    background-color: black !important;
  }

  .typeBlockNumber {
    color: white;
    background-color: black !important;
  }

  .typePreset {
    color: black;
    background-color: white !important;
  }

  .typeUser {
    color: black;
    background-color: white;
    font-weight: normal !important;
    font-style: italic;
  }

  .player0 {
    color: black;
    font-weight: bold !important;
    font-style: normal !important;
  }

  .typeControl {
    color: blue;
    background-color: white !important;
  }

  .typeCurrentControl {
    color: blue;
    background-color: yellow;
  }

  .typeNew {
    color: white;
    background-color: #ff8642c8;
  }

  .errorBlock, .errorBlockNumber, .errorPreset, .errorControl, .errorCurrentControl, .errorNew {
    color: red;
    background-color: orchid;
  }

  .errorUser {
    color: #ff0000b8;
    background-color: orchid !important;
  }

  .tooltip {
    font-size: 0.75em;
    background: rgba(0, 0, 0, 0.7);
  }
}

$markColor: #aaf;
$markTargetColor: #ffa;
$markAnchorColor: #faa;
$markThick: 4px;
$markCandidate: #afa;
.MarkField {
  background: $markColor !important;
}

.MarkTargetField {
  background: $markTargetColor !important;
}

.MarkAnchorField {
  background: $markAnchorColor !important;
}

.markCandidate,
.showCandidate {
  background: $markCandidate;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  box-shadow: inset 0 0 0 2px $markCandidate;
}

.showCandidate {
  background: $markCandidate;
}

.delCandidate {
  // color: #a00;
  font-weight: bold;
  position: relative;
  // box-shadow: inset 0 0 0 2px lime;
}

.delCandidate::after {
  content: '\\';
  color: rgba(128, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0.4em;
}

.setCandidate {
  background: $markCandidate;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  box-shadow: inset 0 0 0 2px $markCandidate;
}

.controls {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: white;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 1em;
  --mdc-dialog-container-color: #442300;
  --mdc-dialog-with-divider-divider-color: rgba(0, 0, 0, 0.12);
  --mdc-dialog-subhead-color: rgba(255, 255, 255, 0.8);
  --mdc-dialog-supporting-text-color: rgba(255, 255, 255, 0.6);
  display: flex !important;
  padding: 0 !important;
  color: white;

  .mat-dialog-title {
    display: flex;
    margin: 0;
    padding: 1em;
    background: rgba(0, 0, 0, 0.5);
  }

  .mat-dialog-content {
    display: flex;
    margin: 0;
    padding: 2em;
  }

  .mat-dialog-actions {
    display: flex;
    margin: 0;
    padding: 0.2em;
    background: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;

    .mat-button {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

button mat-icon {
  margin: 0 !important;
  padding: 0 !important;
}


.preview-count {
  font-size: 0.3em;
  opacity: 0.8;
  position: absolute;
  right: 0.2em;
  bottom: 0.2em;
}

.preview-count.lowest {
  color: black;
}
